<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="title">
        <h1>FooD</h1>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Food Search</a></li>
            <li><a href="/nutritional_advice">Nutritional Advices</a></li>
            <li><a href="/custom_diet_plan">Customized Food Plans</a></li>
            <!-- Aggiungi altri collegamenti alle sezioni del tuo sito -->
        </ul>
    </nav>
</body>
</html>
